header{
 background-color: #1C46B3;
 color: #ffffff;
 font-family: arial;
}
main{
 background-color: #ffffff;
 color: #000000;
 font-family: arial;
}
button{
 background-color: #1C46B3;
 color: #ffffff;
 font-size: 25px;
 font-family: arial;
 border-radius: 15px;
}