.logo{
 background-color: #1C46B3;
 color: white;
 font-family: arial;
 text-align: center;
 margin: 0px;
}
nav{
}
nav ul{
 background-color: #1C46B3;
 list-style: none;
 padding: 0px;
 margin: 0px;
 overflow: hidden;
 position: sticky;
}
nav li{
 float: left;
}
nav a{
 color: white;
 font-family: arial;
 text-decoration: none;
 padding: 15px;
 display: block;
 text-align: center;
}
main{
 background-color: white;
 color: black;
 font-family: arial;
 margin: 0px;
}
#404Img{
 width: 200px;
 height: 254px;
 margin: 25px;
 justify-content: center;
 align-items: center;
 align-content: center;
}