header{
 display: flex;
 background-color: #1C46B3;
 color: white;
 font-family: arial;
 border-bottom: black;
}
nav{
 position: sticky;
}
nav li a{
 color: white;
 font-family: arial;
 text-decoration: none;
}
nav li{
 list-style: none;
 display: inline-block;
 justify-content: space-between;
 align-items: center;
}
main{
 background-color: white;
 color: black;
 font-family: arial;
 margin: 0px;
 width: 100vw;
}
.mainButton{
 background-color: white;
 color: black;
 font-size: 20px;
 font-family: arial;
 border-radius: 15px;
 margin: 0px;
}
.kiwiImg{
 width: 200px;
 height: 254px;
}